body {
	background-image: url('dispatch1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height:100vh;
	margin:0;
}

h1 {
	font-size: 3em;
	margin:0;
}
h2 {
	background-color: cornflowerblue;
	font-weight: 500;
	font-size: 2em;
	width:50%;
	margin:0 auto;

}

button {
	margin:20px 0;
	padding:10px 30px;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 10px;
	
}

.title {
	text-transform: uppercase;
	color:black;
}


.container {
	max-width:1100px;
	margin:0 auto;
}

.quote-generator {
	text-align:center;
	position:fixed;
	background-color:RGBA(248, 248, 255, .7);
	padding:20px;
	margin:20px 50px;
	border: 3px solid darkred;
    border-radius: 5px;


}

section#quoteDisplay {
    padding: 20px;
    height:50px;
}
span.quotes {
	font-size:30px;
}



